h1 {
  font-size: 3em;
}

.best {
  border: 10px solid green;
}

.flashy {
  color: red;
  font-style: italic;
}

img {
  width: 300px;
}

.exciting {
  color: purple;
  font-size: 1.5em;
}

.large {
  color: green;
  font-size: 1.75em;
}

.important {
  text-align: center;
  margin: 0 25% 0 25%;
}

.sidebar {
  float: left;
  background-color: pink;
  width: 120px;
  padding: 20px;
}
